@import url('https://fonts.googleapis.com/css2?family=Khmer&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Khmer', cursive;
}
hr{
    color: #033142;
    margin: 0 20px;
}

header{
    margin: 20px;
}
header h1{
    color: #033142;
    font-size: 40px;
    font-weight: bold;
}

section{
    margin: 20px;
    line-height: 2em;
    margin-bottom: 30px;
    font-size: 20px;
}